@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Match the background of the image sequence exactly to ensure seamless blending */
  --background: #fbfbfb;  /* Adjust this once UI runs, but off-white from typical renders */
  --foreground: #0A192F;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

::selection {
  background-color: #FFB703;
  color: #0A192F;
}
